body{
    background-color: #13171F;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.name {
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    cursor: default;
    margin-left: 1.5rem;
}

header{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    height: 90px;
    width: 100vw;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;

    align-items: center;
}

nav{
    display: block;
    unicode-bidi: isolate;
    position: absolute;
    right: 0;
    margin-right: 2rem;
}

.navbar>a {
    font-size: 1.7rem;
    color: white;
    margin-left: 4rem;
    transition: 0.3s;
}

.navbar>a:hover, .navbar>a.active {
    color: #B336FF;
}

#logo{
    background-image: url("/assests/images/logo.png");
    background-size: cover;
    background-position: center;
    width: 33px;
    height: 44px;
    cursor: pointer;
}



