#home{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    min-height: 100vh;
    padding: 8rem 2% 2rem;
}

div {
    display: block;
}

h3 {
    display: block;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
    font-size: 3.5rem;
    font-weight: 900;
    color: white;
    font-style: italic;
    font-family: "Caveat", cursive;
}

h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: #B336FF;

}

#myName::first-line{
    color: white;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: white;
}

#homePic{
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 30vw;
    /*animation: floatImage 4s ease-in-out infinite;*/
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}