@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .projects-container{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 2%; /* Adjusted padding */
    }

    section {
        padding: 12rem 2% 2rem; /* Adjusted padding */
    }

    .services {
        padding-bottom: 1rem; /* Adjusted padding */
    }

    .portfolio {
        padding-bottom: 4rem; /* Adjusted padding */
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 2%; /* Adjusted padding */
    }

    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .projects-container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: relative; /* Changed position */
        top: initial;
        left: initial;
        width: 100%;
        padding: 1rem 2%; /* Adjusted padding */
        background: #13171F;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0; /* Adjusted margin */
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 4.5rem; /* Adjusted font size */
    }

    .home>div>img {
        width: 70vw!important;
        margin-top: 2rem; /* Adjusted margin */
    }


    .about {
        padding-top: 4rem;
    }

    .about-section{
        flex-direction: column-reverse;

        justify-content: center;
        align-items: center;
    }

    .about-content{
        padding-top: 0;
        align-content: center;
        text-align: center;
    }

    .about-img{
        align-content: center;
        padding: 0;
        width: fit-content;
    }

    .about-img img{
        width: 70vw;


        margin-top: 4rem;
        margin-left: 0;
    }

    .services h2{
        margin-bottom: 3rem;
    }


    .grid {

        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .projects-container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .contact-me{
        padding: 10rem 5% 1rem;
    }

}

@media (max-width:617px){
    .container{
        grid-template-columns:1fr;
    }

    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }



}

@media (max-width:450px){
    html{
        font-size: 50%;
    }


    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

@media (max-width:365px) {
    .home-img img {
        width: 90vw;

    }


    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-bottom: 2rem;
    }
}