:root {
    --bg-color: #040f26;
    --second-bg-color:#252C37;
    --text-color: #fff;
    --main-color: #8859B6;
    --box-color: #4B5567;
    --scrol-color: #001634;
}

body {
    display: block;
    color-scheme: dark;
    background: radial-gradient(circle at top center, rgba(6, 59, 111, .5) 0, transparent 50%, transparent 100%);

    background-color: var(--bg-color);
    background-attachment: fixed;

    cursor: url("assests/icons/whitedot.png"), auto;

}

body.light{
    --bg-color: rgba(173, 190, 224, 0.7);
    --second-bg-color: #8195b7;
    --text-color: black;
    --main-color: #8859B6;
    --box-color: #8195b7;
    --scrol-color: #9eb8e5;

    background: radial-gradient(circle at top center, rgba(27, 115, 206, 0.5) 0, transparent 50%, transparent 100%);

    background-color: var(--bg-color);
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    font-size: 1.3rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    border: var(--text-color) 2px solid;
}

.btn:hover {
    background: rgba(179, 54, 255, 0.3);
    box-shadow: 0 0 1rem var(--main-color);
}

.name {
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    margin-left: 1.5rem;
}

section{
    padding: 8rem 2% 2rem;
    overflow: hidden;

}

div {
    display: block;
}

h3 {
    display: block;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
    font-size: 3.2rem;
    font-weight: 900;
    color: var(--text-color);
    font-style: italic;
    /* font-family: "Caveat", cursive;*/
}

h1 {
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 1.3;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: var(--main-color);

}


#cursor{
    z-index:10000;
    width:20px;
    height:20px;
    border: 2px solid var(--text-color);
    padding: -10px;
    position:fixed;
    pointer-events: none;
    border-radius:100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

}

#cursor>div{
    width:10px;
    height:10px;
    background-color: var(--text-color);
    border-radius:100%;
    animation: bubble 2s ease-out infinite;
}

@keyframes bubble {
    0% {
        transform: scale(0);
        opacity: 9;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}



/*---------------------------scrolling Design-------------------------------------*/

.scrolling-page {
    height: 100vh; /* Full viewport height */
    background-color: var(--scrol-color);
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.5s ease; /* Smooth transition for scroll effect */
    overflow-y: auto; /* Enable scrolling for content */
    z-index: 50;
}

.scrolling-page.open {
    transform: translateY(-100%); /* Move the scrolling page up */
}

.scrolling-page h1 {
    text-align: center;
    margin-top: 40vh;
    margin-bottom: 0;
    transform: translateY(-50%);
}

.scrolling-page h1 span {
    font-weight: 500;
    color: var(--text-color);
    font-size: 2rem;
    letter-spacing: 1.5rem;
}

/*---------------------------Header Design-------------------------------------*/

header{
    background-color: rgba(29, 33, 46, 0.61);
    backdrop-filter: blur(10px);

    color: var(--text-color);
    height: 90px;
    width: 100vw;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;

    align-items: center;
    z-index: 10;
}

nav{
    display: block;
    unicode-bidi: isolate;
    position: absolute;
    right: 0;
    margin-right: 2rem;
}

.navbar>a {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

.navbar>a:hover, .navbar>a.active {
    color: var(--main-color);
}

#logo{
    background-image: url("/assests/images/logo.png");
    background-size: cover;
    background-position: center;
    width: 33px;
    height: 45px;
    cursor: pointer;
}

.menu-btn {
    display: none !important;
    color: var(--text-color);
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
}

/*---------------------------Mode Design-------------------------------------*/
.mode{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

input[type = 'checkbox']{
    position: absolute;
    opacity: 0;
}

.moon{
    font-size: 1.5rem;
    color: var(--text-color);
    transition: 0.5s ease;

}

.sun{
    position: absolute;
    font-size: 1.5rem;
    color: var(--text-color);
    transform: scale(0);
    transition: 0.5s ease;
}

.toggle{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
    transition: 0.5s;
}

input[type = 'checkbox']:checked~.moon{
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}

input[type = 'checkbox']:checked~.sun{
    transition-delay: 0s;
    transform:  scale(1) rotate(360deg);
}



/*---------------------------Home Design-------------------------------------*/


.home{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home>div>h1>span{
    color: var(--main-color);
}

#myName::first-line{
    color: var(--text-color);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: var(--text-color);
    font-size: 1.2rem;
}

#homePic{
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 30vw;
    /*animation: floatImage 4s ease-in-out infinite;*/
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}


.typing{
    color: var(--text-color);
}

.typing::after {
    content: '';
    height: 100%;

    background-color: var(--main-color);
    animation: typing 1.2s ease infinite;
}


@keyframes typing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*---------------------------About Design-------------------------------------*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-section{
    display: flex;
}

.about-content{
    padding-top: 10vh;
}

.about-content>h1>span{
    color: var(--text-color);
}

.about-img{
    padding-right: 2vw;
    margin-left: 4rem;
    margin-right: 4rem;
}

.about-img>img{
    width: 30vw;
    height: 80vh;

}

.heading{
    text-align: center;
    font-size: 4.2rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}



.about-content h3{
    font-size: 2.3rem;
    color: var(--main-color);
    font-style: normal;
}
.about-content ul {
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    list-style: none;
}

.about-content > ul > li {
    display: contents;
}

.about-content > ul > li > span:first-child {
    font-weight: 500;
    color: var(--text-color);
}

.about-content > ul > li > span:last-child {
    color: var(--main-color);
    font-weight: 400;
}

.about-content button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
    color: white;
}

/*---------------------------Education-------------------------------------*/

.education{

}

.education-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.education-grid-item{
    display: flex;!important;
    align-items: center;
    gap: 1rem;
}

.education-grid-item img{
    width: 120px;
}

.education-item-text>h2{
    font-size: 1.5rem;
    text-align: start;
    color: var(--text-color);
}

.education-item-text>h3{
    font-size: 1.2rem;
    text-align: start;
    color: var(--main-color);
}

.education-item-text>h4{
    font-size: .9rem;
    text-align: start;
    color: var(--text-color);
}



/*---------------------------Skills Design-------------------------------------*/

.skills-title{
    font-size: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

.skills div h2{
    color: var(--text-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.grid-item{
    display: flex;!important;
    align-items: center;
    gap: .75rem;
}

.grid-item img{
    width: 100px;
}

.item-text{
    text-align: start;
}


/*---------------------------Certification Design-------------------------------------*/


.certification-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem 2rem;
    padding: 3rem;
    overflow: hidden;
}

.certification-box{
    background: var(--second-bg-color);
    padding: 1rem 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.4rem var(--main-color);
    max-height: 350px;
    overflow: hidden;

}

.certification-box:hover{
    cursor: pointer;
}

.certification-box img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 0.5rem;

}

.certification-box img:hover{
    transform: scale(1.1);
    transition: .9s ease;
}

.certification-box h4{
    padding: 1rem 0;
    font-size: 1rem;
    color: var(--text-color);
}

#hackerrank div{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

#sololearn div{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

#uom div{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}


/*---------------------------Services Design-------------------------------------*/

.services{
}

.services h1{
    margin-bottom: 5rem;
}

.services h1>span{
    color: var(--text-color);
}

.services-container{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--box-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border:.2rem solid var(--main-color);
    transition: .5s ease;
    box-shadow: 0 0 1.4rem var(--main-color);
}

.services-container .services-box:hover{
    border-color: blue;
    transform: scale(1.04);
}

.services-box img{
    height: 7rem;

}

.services-box h3{
    color: white;
    font-size: 2.3rem;
    font-style: normal;
}

.services-box p{
    font-size: 1.3rem;
    margin: 1rem 0 3rem;
    color: white;

}

/*---------------------------Projects Design-------------------------------------*/

.projects-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem 2rem;
    padding: 3rem;
    overflow: hidden;
}

.projects-box{
    background: var(--second-bg-color);
    padding: 1rem 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.4rem var(--main-color);
    height: fit-content;

    transition: .5s ease;
    transform: rotate(-2deg);
    overflow: hidden;

}

.projects-box:hover{
    transform: rotate(0deg);
    cursor: pointer;
}

.projects-box img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 0.5rem;

}

.projects-box h5{
    padding: 1rem 0;
    color: var(--main-color);
}

.projects-box h4{
    font-size: 1rem;
    color: var(--text-color);
}

#btnProject{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    margin-top: 3rem;
    text-align: center;
}



/*---------------------------Assignments Design-------------------------------------*/

.assignments-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem 2rem;
    padding: 3rem;
    overflow: hidden;
}

.assignments-box{
    background: var(--second-bg-color);
    padding: 1rem 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.4rem var(--main-color);
    height: fit-content;
    overflow: hidden;

}

.assignments-box img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 0.5rem;

}

.assignments-box h5{
    padding: 1rem 0;
    color: var(--main-color);
}

.assignments-box h4{
    font-size: 1rem;
    color: var(--text-color);
}

#btnAssignments{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    margin-top: 3rem;
    text-align: center;
}

.btn-box {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.assignment-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: var(--main-color);
    border-radius: .4rem;
    transition: .5s ease;
    color: white;
}

.assignment-btn:hover {
    background: rgba(179, 54, 255, 0.3);
    box-shadow: 0 0 1rem var(--main-color);
    cursor: pointer;
}



/*---------------------------Blogs Design-------------------------------------*/

.blogs-container{
    margin: 1.5rem;
    display: block;
    padding: 1rem;
    overflow: hidden;
}

.blogs-box {
    /*background: var(--second-bg-color);*/
    padding: 1rem 1rem 1rem;
    border-radius: 1rem;
    border-bottom: 3px solid var(--main-color);
    /*box-shadow: 0 0 1.4rem var(--main-color);*/
    max-height: 200px;
    overflow: hidden;
    margin: 0 0 2rem 0;

}

.blogs-box:hover{
    cursor: pointer;
    scale: 1.05;
}

.blogs-box a{
    display: flex;
}

.blogs-box img{
    width: 22%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;

}

.blogs-text{
    padding: 0 1rem;
}

.blogs-text h3{
    font-size: 2rem;
    color: var(--text-color);
    font-style: normal;
    font-weight: bold;
}

.blogs-text h4{
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: normal;
}

.blogs-text h5{
    font-size: 1.2rem;
    padding: 0.7rem 0;
    color: var(--main-color);
}

#btnBlogs{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    text-align: center;
    margin-bottom: 3rem;
}

.hover-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999; /* Ensure the image appears above other content */
}

.hover-target:hover + .hover-image {
    display: block;
}






/*---------------------------Gallery Design-------------------------------------*/

.gallery-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 1rem;
    padding: 1rem;
    overflow: hidden;
}

.gallery-box{
    height: 400px;
    width: 100px;
    background: var(--second-bg-color);
    border-radius: 2rem;
    box-shadow: 0 0 1.4rem var(--main-color);
    max-height: fit-content;
    overflow: hidden;
    text-align: center;
}

.scaled{
    width: fit-content;
    z-index: 5;
    transition: all 0.5s ease-in-out;
}

.gallery-box img{
    border-radius: 2rem;
    object-fit: cover;
}

/*---------------------------Contact me Design-------------------------------------*/

.contact-me{
    min-height: 60vh;
    padding: 10rem 14% 1rem;

}

.contact-me .contact-container{
    flex: 1 1 30rem;
    background: var(--box-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border:.2rem solid var(--main-color);
    box-shadow: 0 0 1.4rem var(--main-color);
    margin-bottom: 8rem;
}

.heading span{
    color: var(--text-color);
}

.contact-me form {
    max-width: 70rem;
    text-align: center;
    margin-bottom: 3rem;

}


.contact-me p{
    font-size: 1.5rem;
}

.fa {
    padding: 1.2rem;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border: var(--main-color) solid 4px;
    border-radius: 100%;
    color: var(--main-color);
    background-color: var(--box-color);
    box-shadow: 0 0 1.4rem var(--main-color);
}

.fa:hover {
    color: var(--text-color);
    background-color: var(--main-color);

}




/*---------------------------Footer Design-------------------------------------*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #13171F;
}

.footer-text p {
    font-size: 1.3rem;
    color: white;
}

.footer div button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer div button a{
    font-size: 1.7rem;
    color: var(--text-color);
}

.footer div button:hover{
    box-shadow: 0 0 1rem var(--main-color);

}

.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}




/*---------------------------Hidden to show animation-------------------------------------*/

.hidden-left{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden-right{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.hidden-top{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

.hidden-bottom{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);

}